body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    padding: 12px 0;
    text-align: center;
    font-weight: 600;
    background-color: #ADD9E6;
}

.outer-box {
    padding: 30px;
    background-color: #ADD9E6;
    border: 2px solid rgb(131, 130, 130);
    /* box-shadow: rgb(207, 207, 209) -3px -3px 6px 0px inset, rgba(255, 255, 255, 0.5) 3px 3px 6px 1px inset; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.form-details {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 18px;
    font-weight: 600;
}

.form-select {
    width: 70%;
}

.btn-box {
    border: 2px solid rgb(131, 130, 130);
    box-shadow: rgb(225, 225, 227) -3px -3px 6px 0px inset, rgba(255, 255, 255, 0.5) 3px 3px 6px 1px inset;
    padding: 18px;
}

button {
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    color: #36395A;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    padding: 6px 16px;
    transition: all 0.2s linear;
}

button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}